
<div class="card text-center mx-auto mt-4" style="width: 30rem;">
  <% @posts.each do |post| %>
    <% if post.image_url %>
      <%= image_tag post.image.url, class: "img img-fluid" %>
    <% end %>

    <div class="card-body">
      <h5 class="card-title"><%= post.title %></h5>
      <p class="card-text"><%= post.text %></p>
    </div>

    <div class="card-body">
      <%= link_to 'Show', post_path(post) %> |
      <%= link_to 'Edit', edit_post_path(post) %> |
      <%= link_to 'Delete', post_path(post), method: :delete, data: { confirm: 'Are you sure?' } %>
    </div>
  <% end %>
</div>
